.indRecipe {
    font-size: 12px;
    border: 1px solid red;
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.indRecipe>ul {
    text-align: left;
}

.stars>span {
    display: inline-block;
}

.stars>span>button {
    margin: 3px;
}